:root {
    /* Uso Slider */
    --uso-slider-font-size: var(--uso-font-size);
    --uso-slider-font-family: var(--uso-font-family);
    --uso-slider-font-style: inherit;
    --uso-slider-flex-grow: 0;
    --uso-slider-align-items: center;

    --uso-slider-padding-top: 3px;
    --uso-slider-padding-bottom: 3px;
    --uso-slider-padding-left: 0;
    --uso-slider-padding-right: 4px;

    --uso-slider-margin-top: 0;
    --uso-slider-margin-bottom: 0;
    --uso-slider-margin-left: 0;
    --uso-slider-margin-right: 0;

    --uso-slider--knob-width: 16px;
    --uso-slider--knob-height: 16px;
    --uso-slider--knob-margin-top: -8px;
    --uso-slider--knob-margin-left: -8px;

    --uso-slider--knob-border-radius: 50%;
}

.uso-slider {
    --unity-font-style: var(--uso-slider-font-style);
    --unity-font-family: var(--uso-slider-font-family);
    font-size: var(--uso-slider-font-size);
    flex-grow: var(--uso-slider-flex-grow);
    align-items: var(--uso-slider-align-items);

    padding-top: var(--uso-slider-padding-top);
    padding-bottom: var(--uso-slider-padding-bottom);
    padding-left: var(--uso-slider-padding-left);
    padding-right: var(--uso-slider-padding-right);

    margin-top: var(--uso-slider-margin-top);
    margin-bottom: var(--uso-slider-margin-bottom);
    margin-left: var(--uso-slider-margin-left);
    margin-right: var(--uso-slider-margin-right);
}

.uso-slider * .unity-base-slider__dragger {
    width: var(--uso-slider--knob-width);
    height: var(--uso-slider--knob-height);
    margin-top: var(--uso-slider--knob-margin-top);
    margin-left: var(--uso-slider--knob-margin-left);
    border-radius: var(--uso-slider--knob-border-radius);
}

.uso-slider:focus * .unity-base-slider__dragger-border {
    width: var(--uso-slider--knob-width);
    height: var(--uso-slider--knob-height);
    margin-top: var(--uso-slider--knob-margin-top);
    margin-left: var(--uso-slider--knob-margin-left);
    border-radius: var(--uso-slider--knob-border-radius);
}

.uso-slider > .unity-slider__input > #unity-drag-container > #unity-tracker,.uso-slider > .unity-slider-int__input > #unity-drag-container > #unity-tracker {
    height: 3px;
    margin-top: -1px;
}

.uso-slider > .unity-slider__input > #unity-drag-container > #unity-dragger-border {
}

.uso-slider > .unity-slider__input > #unity-text-field > #unity-text-input > .unity-text-element--inner-input-field-component {
}

.uso-slider > .unity-slider__input > #unity-text-field > #unity-text-input,.uso-slider > .unity-slider-int__input > #unity-text-field > #unity-text-input {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
    -unity-text-align: upper-right;

    border-radius: 3px;
}

.uso-slider > .unity-slider__input > #unity-text-field,.uso-slider > .unity-slider-int__input > #unity-text-field {
    height: 25px;
    margin-top: 4px;
    min-width: 42px;
    min-height: 25px;
}

.uso-slider.uso-field-validation {
    padding-left: 0;
}




/*

.uso-slider > .unity-slider__input > #unity-drag-container > #unity-dragger {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    height: 15px;
    margin-top: -7.5px;
    width: 15px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    margin-left: -2.5px;
}

.form__slider-element > .unity-slider__input > #unity-drag-container > #unity-tracker {
    height: 3px;
    margin-top: -1px;
}

.form__slider-element > .unity-slider__input > #unity-drag-container > #unity-dragger-border {
}

.form__slider-element > .unity-slider__input > #unity-text-field > #unity-text-input > .unity-text-element--inner-input-field-component {
}

.form__slider-element > .unity-slider__input > #unity-text-field > #unity-text-input {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
    -unity-text-align: upper-right;
}

.form__slider-element > .unity-slider__input > #unity-text-field {
    height: 25px;
    margin-top: 4px;
    min-width: 42px;
    min-height: 25px;
}*/
